.business-card{
    display: flex;
    justify-content: space-between;
}
.content-business-card{
    display: flex;
    align-items: center; 
}
.business-card img{
    height: 600px;
    width: auto;
}

