.contact-me{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px ;
    justify-content: space-between;
    text-align: center;
    font-weight: normal;
    justify-items: center;
}
.contact-block{
    justify-items: center;
    width: 200px;

}
.contact-me img{
    width: 50px;
}




.contact-me h1, .contact-me p{
    color: white;
}
.contact-me h1{
    font-size: 1rem;
    text-wrap: nowrap;
}